@model IEnumerable<WebApplication5.Models.ScrapperLinkModel>

@{
    ViewData["Title"] = "მისამართები";
}

<p>
    <a asp-action="AddLink">ლინკის დამატება</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatementType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatementType)
                </td>
                <td>
                    <a asp-action="DeleteLink" asp-route-id="@item.Id">წაშლა</a>
                </td>
            </tr>
        }
    </tbody>
</table>
